/* Add screen styles below */
body {
    background: #0B0014;
    margin-top: 100px;
    font-family: "helvetica";
}

.card {
    background: #F5E9E2;
    color: #0B0014;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.card div {
    padding: 20px;
}

h1 {
    background: #a18c1d;
    padding: 20px;
    margin: 0;
    border-radius: 20px 20px 0 0;
}

img {
    float: left;
    margin-right: 20px;
}